.app {
  font-family: sans-serif;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.overlay {
  display: none;
}

.modal-out .overlay {
  display: block;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
